*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
body {
    background-color: #e7e7e7;
    padding-top: 100px;
}
header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

header img {
    height: 36px;
    margin-right: 16px;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px ;
}
form button {
    font-size: 24px;
    background-color: #009432;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 5px;
    
}

form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    font-size: 18px;
    height: 50px;
    padding: 16px 0;
}
table td img {
    height: 30px;

}

.resultado {
    background-color: defout;
    padding: 8px;
}


.aprovado {
    background-color: green;
    color: #fff;
}

.reprovado {
    background-color: red;
    color: #fff;
}


/*
#nome-atv {
    width: 300px;
    padding: 5px;
    font-size: 18px;
}

#nota-atv {
    width: 52px;
    padding: 5px;
    font-size: 18px;
}



    */